.brand {
  padding-right: 30px;
  color: blue;
  text-align: center;
}
.container container-md-fluid {
  text-align: center;
  padding-left: 40px;
}
.header {
  text-align: center;
  color: white;
  background-color: turquoise;
  padding: 7px;
}
.pannel {
  text-align: center;
}
.table {
  border: 1px solid blue;
}
td {
  border: none;
}
